profiles.yml
*.pem
*.key
.env
.env.*
target/
**/target/
logs/
**/logs/
dbt_packages/
**/dbt_packages/
dbt_modules/
**/dbt_modules/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
env/
venv/
ENV/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json